.StepperMain .ant-timeline-item-head {
  color: #f05b5d !important;
  border-color: #f05b5d !important;
}
.StepperMain {
  margin-top: 20%;
}
.timeLineParent {
  display: none;
  padding: 0px;
  height: 100%;
}
.parent2 {
  display: block;
  height: 300px;
  opacity: 1;
}
.ant-timeline-item-head-custom {
  border-radius: 1;
  border-color: #f05b5d !important;
}
