.textBoxStyle {
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  height: 12rem;
  width: 100%;
  resize: none;
  padding: 10px;
}
.piscriptionTextBox {
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  height: 350px;
  width: 100%;
  resize: none;
  padding: 10px;
}
.piscriptionTextBox1 {
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  height: 150px;
  width: 100%;
  resize: none;
  padding: 10px;
}
