.activeBar {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;

  /* secondary */

  color: #292929 !important;
  text-decoration: none !important;
  :hover {
    text-decoration: none !important;
  }
}
.inActiveBar {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  color: #4b4b4b !important;
  text-decoration: none !important;
  opacity: 0.7;
  :hover {
    text-decoration: none !important;
  }
}
.active-div {
  background: #fbede1 !important;
}
.inActive-div {
  background: #ffffff !important;
}
.logout {
  font-family: "Helvetica";
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #4b4b4b !important;
  text-decoration: none !important;
  // opacity: 0.7;
  :hover {
    text-decoration: none !important;
  }
}
