.patient-heading {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  padding: 20px 40px;
  color: #4284F3;
}
.profileSection {
  background-color: #ffffff;
  padding: 0 25px;
 
  .sectionHead {
    font-family: "Helvetica";
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 24px;
    color: #1b2e6b;
  }
  .patient-profileTab {
    ul {
      display: flex;
      list-style: none;
      padding: 0px;
      justify-content: space-between;
      margin-bottom: 0px;
      width: 80%;
      li {
        cursor: pointer;
      }
      .active-tab {
        font-family: "Helvetica";
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        color: #000000;
        border-bottom: 3.5px solid #0655a3;
        padding-bottom: 12px;
        border-radius: 2px;
      }
      .inActive-tab {
        font-family: "Helvetica";
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        color: #7c7c7c;
      }
    }
  }
}

//tab details card
.detailsCard {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  width: 91%;
  margin-left: 20px;

  .userImage {
    img {
      width: 20%;
      height: 200px;
      object-fit: cover;
      border-radius: 5px;
    }
  }
  .sectionHead {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #243d63;
    padding-bottom: 14px;
    padding-top: 10px;
  }
  .sectionHr {
    border-bottom: 1px solid #dbdde0;
  }
  .headLabel {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #52575c;
    opacity: 0.9;
  }
  .labeldata {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    overflow-wrap: break-word;
  }
  .subHead {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #000000;
    opacity: 0.9;
    margin: 15px 0px !important;
  }
}

  // patient profile
.left-arrow{
    margin-left: 12px;
}
.avatar-content{
    display: flex;
    justify-content: space-between;
    // width: 58%;
}
.avatar-parent{
  display: flex;
  padding-bottom: 10px;
}
.user-name{
    font-size: 16px;
    color: #1F67A5;
    margin-bottom: 0%;
}
.user-age{
    font-size: 14px;
    color: #4F4F4F;
}
.appt{
    font-size: 14px;
    color: #333333;

}
.appt-span{
    color: #4F4F4F;
    margin-left: 6px;
}
.appt-id{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 80%;
}
.tab-parent{
  display: flex;
  justify-content: space-between;
}
.down-btn{
  display: flex;
  justify-content: flex-end;
}
.action-view{
  border: 1px solid #0655A3;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 5px 30px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #0655A3;
}
.pagination-align {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
