@import "../../../assets/scss/variables.scss";
.authButton {
  border: 1px solid #f05b5d;
  box-sizing: border-box;
  border-radius: 4px;
  color: #f05b5d;
  width: 150px;
  height: 40px;
  text-transform: uppercase;
  background-color: transparent;
}
.DeleteNoBtn {
  background: #ffffff;
  /* secondary */
  width: 131px !important;
  height: 58px;
  border: 1px solid #292929;
  border-radius: 8px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  /* secondary */
  color: #292929;
  display: flex;
  align-items: center;
  justify-content: center;
}
.DeleteYesBtn {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  text-align: center;
  width: 131px !important;
  height: 58px;
  color: #ffffff;
  background: #292929;
  border-radius: 8px;
  min-height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginButton {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  width: 173px;
  height: 45px;
  color: #ffffff;
  background: #292929;
  border-radius: 8px;
  min-height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginButton1 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  width: 151px;
  height: 58px;
  color: #ffffff;
  background: #292929;
  border-radius: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.authButton1 {
   // border: 1px solid #0e69c2;
  // box-sizing: border-box;
  // border-radius: 4px;
  // color: #0e69c2;
  // width: 150px;
  // height: 40px;
  // // text-transform: uppercase;
  // background-color: transparent;
  background: #ffffff;
  width: 173px;
  height: 45px;
  border: 1px solid #292929;
  border-radius: 8px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #292929;
  min-height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.authButton2 {

  background: #ffffff;
  width: 151px;
  height: 58px;
  border: 1px solid #292929;
  border-radius: 8px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #292929;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profileCreatNext1 {
  background: #0e69c2;
  border-radius: 8px;
  border: none;
  outline: none;
  color: #ffffff;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}
.profileCreatBack {
  background: transparent;
  border: 1px solid #0e69c2;
  border-radius: 8px;
  // border: none;
  background: #f2f8ff;
  box-sizing: border-box;
  border-radius: 8px;
  outline: none;
  color: #0e69c2;
  min-width: 80px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tableBtn {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  background: $button-color;
  border-radius: 8px;
  outline: none;
  border: 0px;
  color: #ffffff;
  min-width: 200px;
  min-height: 43px;
}
.btnSecondary {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  background: #ffffff;
  border: 1px solid $button-color;
  box-sizing: border-box;
  border-radius: 8px;
  min-width: 200px;
  min-height: 43px;
  color: $button-color;
}
.profileBtn {
  background: #0e69c2;
  border-radius: 8px;
  outline: none;
  border: none;
  height: 35px;
  display: flex;
  align-items: center;
  color: #ffffff;
  min-width: 120px;
  justify-content: center;
}
.outlineBtn {
  // background: transparent;
  border: 1px solid #0e69c2;
  border-radius: 8px;
  outline: none;
  border: none;
  height: 35px;
  display: flex;
  align-items: center;
  color: #0e69c2;
  min-width: 120px;
  justify-content: center;
}
.profileCreatNext {
  background: #0e69c2;
  border-radius: 8px;
  border: none;
  outline: none;
  color: #ffffff;
  min-width: 80px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}
.profileCreatBack {
  background: transparent;
  border: 1px solid #0e69c2;
  border-radius: 8px;
  // border: none;
  background: #f2f8ff;
  box-sizing: border-box;
  border-radius: 8px;
  outline: none;
  color: #0e69c2;
  min-width: 80px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addBnt {
  border: 2px solid #9c9c9c;
  box-sizing: border-box;
  border-radius: 5px;
  background: none;
  min-width: 90px;
  min-height: 37px;
  font-size: 16px;
}
.cancelBtn {
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
  height: 48px;
  width: 141px !important;
  display: flex;
  align-items: center;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;

  justify-content: center;
  border: 1px solid #292929;
  border-radius: 8px;
  background-color: #ffffff;
}
.addProductbtn {
  box-sizing: border-box;
  width: 100% !important;
  cursor: pointer;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  // border: 1px solid #292929;
  border-radius: 8px;
  background-color: #000000;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  // letter-spacing: 0em;
  text-align: center;
}
.uploadBrowseBtn{
  box-sizing: border-box;
  width: 130px !important;
  cursor: pointer;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  // border: 1px solid #292929;
  border-radius: 8px;
  background-color: #000000;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  // letter-spacing: 0em;
  text-align: center;
}
