@import "../../../assets/scss/variables.scss";

.bg-image {
  //background-image: url("../../../assets/images/login_bg.png");
  background-size: cover;
  background-position: center;
  height: 49.3vw;
  opacity: 0.985;
}
.inner-image {
  //background-image: url("../../../assets/images/background_circle.png");
  background-size: 70%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
}
.login-heading {
  color: $primary-color;
}
.span_align {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}
.bg-align {
  background-color: #e5e5e5;
}

.signUp-link {
  color: #4676bf;
  margin-left: 6px;
}
.account {
  color: #575757;
  font-size: 18px;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox-align {
  display: flex;
  justify-content: center;
}
.login-disc {
  font-size: 16px;
  color: #a6a6a6;
}
.remember {
  font-size: 14px;
}
.forgot {
  font-size: 14px;
  color: #0e69c2;
}
.welcome {
  font-weight: 900;
  font-size: 40px;
  color: #3b3b3d;
}
.title {
  font-weight: 900;
  font-size: 40px;
  color: #65dff6;
}
.doc {
  font-weight: 900;
  font-size: 40px;
  color: #0e69c2;
}
.welcome-disc {
  font-size: 20px;
  color: #6b6b6b;
  width: 77%;
}
.footer-right {
  width: 70%;
  color: #6b6b6b;
  font-size: 38px;
}
.right-footer {
  position: absolute;
  top: 68%;
}
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  // background-color: #06090f;
}

.App {
  font-family: "Helvetica", sans-serif;
}

form {
  //padding-top: 80px;
  //max-width: 340px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}
.userbox {
  position: relative;
  height: 65px;
  width: 400px;
  border-radius: 10px;
}

.passwordbox {
  position: relative;
  height: 45px;
  width: 400px;

  border-radius: 10px;
}
.userbox_icon img {
  position: absolute;
  top: 10px;
  right: 90%;
}
.passwordbox_icon {
  position: absolute;
  top: 10px;
  right: 90%;
}
.login {
  font-family: Helvetica;
  font-size: 30px;
  font-weight: 700;
  // line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
}
.login_logo {
  margin-left: 90px;
  text-align: center;
}
.login_logo img {
  margin-top: 10px;
  // position: absolute;
  width: 150px;
  text-align: center;

  height: 180px;
  left: 351px;
  top: 188px;
}
.forget {
  color: #0066b3;
  text-align: end;
  // margin-left: 85px;
}
.social {
  font-family: Helvetica;
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  // margin-left: 30px;
  margin-top: 20px;

  p {
    margin-left: 40px;
  }
}
.social_logo img {
  width: 45px;
  height: 45px;
  margin: 0px 35px;
}
.social_logo {
  // margin-left: px;
  margin-right: 60px;
  text-align: center;
}
.newPassword_box {
  position: relative;
  height: 45px;
  width: 400px;
  margin-top: 20px;
  border-radius: 10px;
}
.newpassword_icon {
  position: absolute;
  top: 10px;
  right: 90%;
}
.bg_slide img {
  width: 550px;

  margin-top: 50px;
  height: auto;
  z-index: 10;
}
.login_frame {
  background: #fbede1;
  position: relative;
  // -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
  clip-path: polygon(49% 0, 100% 0, 100% 100%, 0% 100%);
}
