.loader {
    display: inline-block;
    width: 80px;
    height: 80px;
    &:after {
      content: " ";
      display: block;
      width: 64px;
      height: 64px;
      margin: 8px;
      border-radius: 50%;
      border: 6px solid #002449;
      border-color: #002449 transparent #002449 transparent;
      animation: loader-anime 1.2s linear infinite;
    }
    &:is(.small)::after {
      width: 45px;
      height: 45px;
    }
  }
  
  @keyframes loader-anime {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }