.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.pagination-previous,
.pagination-next {
  background: #ffffff;
  border: 1.21333px solid #cacccf;
  box-shadow: 0px 2.42667px 4.85333px rgba(216, 216, 216, 0.52);
  border-radius: 9.70667px;
  padding: 5px 10px;
}
.active_page {
  background: #292929;
  border: 1.21333px solid #e1e1e1;
  border-radius: 9.70667px;
  padding: 5px 10px;
  color: #ffffff;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 16.9867px;
  line-height: 19px;
}
.pagination-item {
  padding: 5px 10px;
  margin: 5px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 16.9867px;
  line-height: 19px;
}
// .table_heading {
//   background: #292929;
//   box-shadow: 0px 2.42667px 4.85333px rgba(216, 220, 230, 0.52);
//   border-radius: 8px;
//   font-family: "Helvetica";
//   font-style: normal;
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 19px;
//   color: #ffffff;
//   height: 50px;
//   .checkBox_place {
//     width: 30px !important;
//     text-align: center;
//   }
// }

table {
  border-collapse: separate;
  border-spacing: 0 5px;
  thead {
    tr {
      background: #292929;
      box-shadow: 0px 2.42667px 4.85333px rgba(216, 220, 230, 0.52);
      border-radius: 8px;
      font-family: "Helvetica";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: #ffffff;
      height: 50px;
      .checkBox_place {
        width: 30px !important;
        text-align: center;
      }

      th {
        text-align: center;
      }
    }
  }

  tbody {
    tr {
      background: #ffffff;
      box-shadow: 0px 2.42667px 4.85333px rgba(216, 220, 230, 0.52);
      border-radius: 8px !important;
      height: 56px;
    }
  }
  td {
    text-align: center;
    width: 250px;
    
  }
}
