.catelog-modal .ant-modal-content {
  background: #ffffff;
  // border-radius: 20px !important;
  width: 280px;
  height: 250px;
}
h4 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  line-height: 125.99%;
  color: #000000;
}
