.knowledge_center,
.Add_knowledge {
  h6,
  p {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 125.99%;
    color: #000000;
  }
}
.knowledge_body {
  background: #ffffff;
  box-shadow: 0px 2.42667px 4.85333px rgba(216, 220, 230, 0.52);
  border-radius: 12px;
}

////ImageUpload style
.dropzone {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 192.92px;
  // left: 404px;
  // top: 408px;
  // padding-top: -10px;
  padding-left: 15px;
  padding-right: 15px;
  background: #fbfbfb;
  border: 0.884956px dashed #d9d9d9;
  border-radius: 3.53982px;
}
.cloud_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 0%;
  bottom: 40%;
  left: 0%;
  right: 0%;
}
.drag_text p {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10%;
  width: 100%;
  bottom: 0%;
  left: 0%;
  right: 0%;

  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 14px;

  color: #7e7e7e;
}

.drag_btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 60%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.preview_image {
  position: absolute;
  top: 0%;
  object-fit: contain;
  bottom: 0%;
  left: 0%;
  right: 0%;
  width: 100%;
  height: 90%;
}
.doc_name_display {
  width: 100%;
}
.doc_name_display p {
  font-size: 15px;
  color: #4a4a4a;
  background-color: #ffffff;
  position: absolute;
  overflow: hidden;
  bottom: 0%;
  text-overflow: ellipsis;
  right: 0px;
  top: 90%;
  left: 0px;
  margin: 0%;
  width: 100%;
}
