.DashBoard {
  background: #ffffff;
  p {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 125.99%;
    text-align: start;
    color: #000000;
  }
  .section_scroll {
    min-width: 10rem;
  }
}

.DashBoard_section {
  background: #ffffff;
  box-shadow: 0px 0px 19.4413px rgba(0, 0, 0, 0.05);
  border-radius: 8.26229px;
  text-align: center;
  margin-right: 28px;
  p {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 42.8066px;
    line-height: 49px;
    letter-spacing: 0.04em;
    color: #292929;
  }
  span {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 21.4033px;
    line-height: 125.99%;
    text-align: center;
    color: #424242;
  }
}
.chart_background2 {
  background: #ffffff;
  box-shadow: 0px 0px 19.4277px rgba(0, 0, 0, 0.05);
  border-radius: 9.71387px;
  width: 26rem;
  height: 25rem;
  span {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 700;
    font-size: 19.4305px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    padding-top: 15px;
    padding-bottom: 10px;
    color: #000000;
  }
}
.chart_background {
  background: #ffffff;
  box-shadow: 0px 0px 19.4277px rgba(0, 0, 0, 0.05);
  border-radius: 9.71387px;
  width: 44rem;
  height: 25rem;
  span {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 700;
    font-size: 19.4305px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    padding-top: 15px;
    padding-bottom: 10px;
    color: #000000;
  }
}
.chart_background1 {
  background: #ffffff;
  box-shadow: 0px 0px 19.4277px rgba(0, 0, 0, 0.05);
  border-radius: 9.71387px;
  width: 23rem;
  height: 18rem;
  padding: 12px;
  span {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 700;
    font-size: 19.4305px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    padding-top: 15px;
    padding-bottom: 10px;
    color: #000000;
  }
}

.progress_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 14.6581px;
    line-height: 17px;
    /* identical to box height */
    margin: 0;
    display: flex;
    align-items: center;
    text-transform: capitalize;

    color: #5f5f5f;
  }
  span {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 700;
    font-size: 14.6581px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: right;
    text-transform: capitalize;

    color: #d2b200;
  }
}
